---
import BaseLayout from './BaseLayout.astro';
import { Image } from 'astro:assets';
import placeholder from '../assets/placeholders/image.jpg';
const { title, description } = Astro.props;
---

<BaseLayout
	title={title}
	description={description}
>
	<main class='container my-5'>
		<article class='row justify-content-center row-gap-4'>
			<div class='col-lg-8 text-center'>
				<div class='hero-image ratio ratio-16x9 mb-2'>
					<Image
						src={placeholder}
						alt={title}
						loading={'eager'}
					/>
				</div>
				<div class='mb-1 text-gray'></div>
				<h1>{title}</h1>
				<hr />
			</div>
			<div class='col-lg-7'>
				<slot />
			</div>
		</article>
	</main>
</BaseLayout>
